@font-face {
    font-family: Dustismo;
    src: url('../fonts/Dustismo.ttf') format('truetype');
}

.logo-title {
    font-family: Dustismo;
    padding: 0%;
    font-size: 50px;
}

.main-search {
    position: absolute;
    width: 50%;
    height: 50px;
    top: 50%;
    margin-left: 25%;
    margin-top: -25px;
    opacity: 0.9;
}